---
import Layout from '../layouts/Page.astro';
import Container from '../components/core/Container.astro';

const seo = {
	title: '404 | Page Not Found',
	description: 'The page you requested could not be found.',
};
---

<Layout {seo}>
	<Container narrow>
		<section class="not-found">
			<h1>404</h1>
			<p>The page you requested could not be found.</p>
			<p><a href="/">Return to homepage</a></p>
		</section>
	</Container>
</Layout>

<style>
	.not-found {
		margin: 4rem 0;
	}
</style>
